################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/GKarkanoid/.vs/GKarkanoid/v15/Browse.VC.opendb
